* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

.billede {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

h1 {
    text-align: center;
    font-weight: normal;
}

hr {
    border:0.01rem solid lightblue;
}

body {
    margin: 2rem;
    background-color: lightyellow;
}

h2 {
    color: darkorange;
    font-size: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}